/* Importing Montserrat and Open Sans fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* Uses blue for anchor/link color */
/* Provide sufficient contrast against white background */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap");

@import url(https://unpkg.com/leaflet@1.6.0/dist/leaflet.css);
a {
  color: #0366d6;
}

.header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
}

/* For subheaders on page */
.subHeader {
  font-family: "Montserrat";
  font-size: 20px;
  font-style: italic;
}

/* Makes body text and labels text Open Sans and 16px */
body,
label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form-control:not(#categorySelect) {
  width: 40% !important;
}

#categorySelect {
  width: 40%;
}

.category-select {
  width: 200%;
}
.eventTable {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
}
.event-table {
  border-collapse: separate;
}

/* Height of images in carousel is limited to 200px, the rest is hidden */
.carousel {
  overflow: hidden;
  height: 200px;
}

.card {
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 17px -5px rgba(0, 0, 0, 0.1);
}

.happninevent {
  border-radius: 20px;

  overflow: hidden;

  padding-left: 6rem !important;
}
.submit {
  margin-bottom: 2em;
}
#accountform {
  margin-bottom: 2em;
}
#filterName{
  margin: auto;
}
#filterZip{
  padding-left: 1.5em;
}
#filterCategory{
  padding-right: 6em;
}
#filterDate{
  padding-left: 4em;
}
html,
body {
  overflow-x: hidden;
}

/*styles according to UI kit for buttons, text, and divs*/

.tertiaryText {
  color: #b1ed82;
}

.primaryButton {
  background-color: #b67b94;
  border-color: #b67b94;
  color: white;
  margin-bottom: 30px;
}

.primaryButton:hover {
  background-color: #f5aecb;
  border-color: #f5aecb;
  color: white;
}

.secondaryButton {
  background-color: white;
  color: #b67b94;
  border: solid;
  border-color: #b67b94;
}
.secondaryButton:hover {
  color: #f5aecb;
  border-color: #f5aecb;
}

.react-datetime-picker{
  margin: 20px;
}

#buyTicketsButton{
  float: right;
  margin-right: 20px;
}

.card-title{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.eventImage{
  padding-top: 1000px;
}
