@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css");

html {
  box-sizing: border-box;
}

a.navbar-brand {
  white-space: normal;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.logo {
  font-family: Montserrat;
  font-style: bold;
  font-size: 32px;
}

.navHeader {
  font-family: Montserrat;
  font-size: 20px;
}

header {
  width: 100%;
  background-color: #2ccb92;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.weather {
  padding-right: 10em;
}

#flex-icons {
  display: flex;
  justify-content: space-around;
}

.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

#weatherInfo {
  flex: 1;
  text-align: center;
}

#weather {
  width: 100%;
}

.flexItem {
  justify-content: space-evenly;
}
