@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* a.navbar-brand {
  white-space: normal;
  margin-right: 0;
} */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.logo {
  font-family: Montserrat;
  font-style: bold;
  font-size: 32px;
}

.navHeader {
  font-family: Montserrat;
  font-size: 20px;
}

header {
  background-color: #33efc2;
}
