@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css");

html {
  box-sizing: border-box;
}

a.navbar-brand {
  white-space: normal;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.btnSubmitEvent {
    margin-bottom: 3rem;
}

.logo {
  font-family: Montserrat;
  font-style: bold;
  font-size: 32px;
  margin-bottom: 2rem;
}

.navHeader {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #1f1f1f;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.navbarLogo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}

header {
  width: 100%;
  height: 6rem;
  background-color: #62fe69;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.weather {
  padding-right: 10em;
}

#flex-icons {
  display: flex;
  justify-content: space-around;
}

.navbar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 4rem !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#weatherInfo {
  flex: 1;
  text-align: center;
}

.flexItem {
  justify-content: space-evenly;
}

.login {
    width: 40rem;
    overflow: hidden;
    list-style:none;
    text-align: right;
    display: inline-block !important;
    margin-bottom: 3rem;
}

.loginContainer {
    overflow: visible;
}

.loginSignUpBlock {
    width: 100%;
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
    vertical-align:top;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-nav > .active{
    background-image: none;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: blue !important;
}

.active a{
    background-image: none !important;
    background-color: blue !important;
    color: blue !important;
}

.navItem {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: inline-block !important;
}

.navItem.active {
    background-image: none !important;
    background-color: blue !important;
}

.submitEventBtnText {

}

.navSubmitEvent {
    height: 1rem;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}
