@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.valid {
    left: 10px;
    color: green;
  }
  
.valid:before {
    position: relative;
    left: -40px;
    content: "✔";
}

.invalid {
    left: 10px;
    color: red;
}

.invalid:before {
    position: relative;
    left: -40px;
    content: "✖";
}

#passwordreq {
    position: relative;
    display: none;
    padding: 10px;
    left: -12px;
}

#usernamereq{
    display: none;
}

/*changing placeholder color*/

::placeholder {
    color: #A0A0A0;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #A0A0A0;
}

::-ms-input-placeholder {
    color: #A0A0A0;
}