@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.valid {
    color: green;
  }
  
.valid:before {
    position: relative;
    left: -40px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -40px;
    content: "✖";
}

#passwordreq {
    position: relative;
    display: none;
    padding: 10px;
    left: -12px;
}

#usernamereq{
    display: none;
}

#zipreq{
    display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A0A0A0;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A0A0A0;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #A0A0A0;
}