/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.header
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
}


.text
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}


.form-control:not(#categorySelect) {
  width: 30% !important;
}

#categorySelect
{
  width: 30%;
}

.category-select {
    width: 200%;
}
.eventTable 
{
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  width: 298px;
}
.event-table
{
  border-collapse: separate;
}
.homeImages
{
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  width: 900px;
  text-align: center;
  object-fit:cover;

}

.sidebar-data
{
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  border-color: black;
  border-collapse: separate;
  border-spacing:2.45em;
  text-align: center;
  background-color: #B67B94;
}
.sidebar-data:hover
{
  background-color: #33efc2;
}
.sideBar
{
  position: absolute;
  top:130px;
  width: 100px;
}
.page
{
 margin-left: 0;
}
.card
{
  border-radius: 20px;
  width: 50rem;
}

.happninevent
{
  border-radius: 20px;

  overflow: hidden;

  padding-left: 6rem !important;

}
.submit{
  margin-bottom: 2em;
}
#accountform{
  margin-bottom: 2em;
}

