/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.App {
  border-style: solid;
  border-width: 5px;
  background: #33efc2; opacity: 75%;
  border-color: #B67B94; 
  border-radius: 25px;
  padding-left: 10px;
}

.header
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
}

.logo
{
  font-family: Montserrat;
  font-style: bold;
  font-size: 32px;
}
.text
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}


.form-control:not(#categorySelect) {
  width: 50% !important;
}

#categorySelect
{
  width: 50%;
}

.category-select {
    width: 200%;
}
.eventTable 
{
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  width: 300px;
}
.eventsHeader
{
 background-color: #B67B94;
 width: 300px; 
}
.homeImages
{
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  width: 1000px;
  height: 500px;

}

